.logo {
  padding-left: 32px;
  position: relative;

  &::before {
    content: '';
    left: 0;
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background: url("/icon.svg") no-repeat center / cover;
  }
}
