# ─── Python: кэш и временные файлы ────────────────────────
__pycache__/
*.py[cod]

# ─── Виртуальное окружение ────────────────────────────────
venv/
.venv/

# ─── Конфигурационные файлы IDE (PyCharm, VS Code и др.) ──
.idea/
.vscode/

# ─── Логи и временные дампы ───────────────────────────────
*.log

# ─── Локальное тестирование ───────────────────────────────
test

# ─── Файлы мака Пети ───────────────────────────────
.DS_Store