# ─── Python: кэш и временные файлы ────────────────────────
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ─── Виртуальное окружение ────────────────────────────────
venv/
.venv/

# ─── Конфигурационные файлы IDE (PyCharm, VS Code и др.) ──
.idea/
.vscode/

# ─── Файлы среды и секреты ────────────────────────────────
.env
secrets.json

# ─── Логи и временные дампы ───────────────────────────────
*.log

# ─── Локальное тестирование ───────────────────────────────
test

# ─── Файлы мака Пети ───────────────────────────────
.DS_Store